@page
@model CadastroFilmes.UI.Pages.Filme.AssociarRealizadorModel
@{
    ViewData["Title"] = "Associar Realizadores aos Filmes"; 
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label class="control-label">Filme: </label>
        <select asp-for="FilmeId" asp-items="Model.FilmeSelect" class="form-control"></select>
        <span asp-validation-for="FilmeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Realizador:</label>
        <select asp-for="RealizadorId" asp-items="Model.RealizadoresSelect" class="form-control"></select>
        <span asp-validation-for="RealizadorId" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Associar" class="btn btn-primary" />
    </div>
</form>